.panel.panel-default
  .panel-heading
    %h3.panel-title= club.name
  .panel-body
    .statcard.p-a-md
      %h3.statcard-number= club.meetings.last.created_at.strftime('%d/%m/%Y')
      %span.statcard-desc Last meeting date
    .statcard.statcard-info.m-b
      .p-a-md
        %span.statcard-desc Attendees
        %h2.statcard-number
          = club.meetings.last.feedback_responses.count
          %small.delta-indicator.delta-positive 5%
        %hr.statcard-hr.m-b-0
      %canvas.sparkline{'data-chart': 'spark-line',
                        'data-labels': "['a','b','c','d','e','f','g']",
                        'data-value': '[{data:[28,68,41,43,96,45,100]}]',
                        height: '94',
                        width: '378'}
    .statcard.statcard-success
      .p-a-md
        %span.statcard-desc Average Rating
        %h3.statcard-number
          = club.meetings.last.feedback_responses.count
          %small.delta-indicator.delta-negative -2%
          %hr.statcard-hr.m-b-0
      %canvas.sparkline{'data-chart': 'spark-line',
                        'data-labels': "['a','b','c','d','e','f','g']",
                        'data-value': '[{data:[28,68,41,43,96,45,40]}]',
                        height: '94',
                        width: '378'}
