.panel.panel-default
  .panel-heading
    %h3.panel-title= link_to club.name, club_path(club)
  .panel-body
    .statcard.p-a-md
      %h3.statcard-number= club_last_meeting_date(club)
      %span.statcard-desc Last meeting date
    = render 'club_statcard',
        description: 'Attendees',
        number: club_last_attendee_count(club),
        delta: club_meetings_attendee_count_percentage_delta(club),
        chart_labels: club_meetings_chart_labels(club).to_json,
        chart_values: club_meetings_attendees_chart_data(club).to_json
    = render 'club_statcard',
        description: 'Average Rating',
        number: club_last_average_rating(club),
        delta: club_meetings_average_rating_percentage_delta(club),
        chart_labels: club_meetings_chart_labels(club).to_json,
        chart_values: club_meetings_rating_chart_data(club).to_json
