%h1= @club.name
%table.table
  %thead
    %tr
      %th Date
      %th Attendee Count
      %th Average Rating
  %tbody
    - @meetings.each do |meeting|
      %tr
        %td= format_day_of_month(meeting.created_at)
        %td= meeting.attendee_count
        %td= meeting.average_rating
