= render 'club_members/shared/club_leader_background'

.modal.modal-center.show
  .modal-dialog.modal-dialog-center.modal-sm
    .modal-content
      .modal-body
        = link_to omniauth_authorize_path(resource_name, 'github'),
        class: 'btn btn-block btn-social btn-lg btn-github' do
          %i.icon.icon-github
          Sign in with GitHub
