= render 'club_members/shared/club_leader_background'

.modal.modal-center.show
  .modal-dialog.modal-dialog-center.modal-sm
    .modal-content
      .modal-body
        - resource_class.omniauth_providers.each do |provider|
          .authenticate
            = link_to omniauth_authorize_path(resource_name, provider) do
              Sign in with
              =provider.to_s.titleize

