%h1 Listing feedback_responses

- if @feedback_responses
  %table.cl
    %thead
      %tr
        %th.header Meeting
        %th.header Rating
        %th.header
        %th.header
        %th.header
  
    %tbody
      - @feedback_responses.each do |feedback_response|
        %tr
          %td= feedback_response.meeting
          %td= feedback_response.rating
          %td= link_to 'Show', feedback_response
