@import "./vendor_prefixes.less";
@import "bootstrap-dashboard/variables-inverse.less";

.modal-center {
  text-align: center;
}

@media screen and (min-width: @screen-sm) {
  .modal-center:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog-center {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.blur {
  .filter(blur(1px));
}

.lower-opacity {
  opacity: 0.6;
}

.authenticate {
  a {
    .transition(all 0.5s ease);
    text-align: center;
    border-color: @gray-base;
    border-radius: 0.25em;
    border: 2px solid;
    color: @gray-base;
    font-size: 2em;
    margin: 8px;
    padding: 8px;

    &:hover {
      background-color: @gray-darker;
      border-color: @gray-lighter;
      color: @gray-lighter;
    }

    &:active, &:focus, &:hover {
      text-decoration: none;
    }
  }
}
