.row.success
  .small-11.medium-8.small-centered.columns
    .panel
      %h1 Feedback received!
      = image_tag('party_orpheus.png')
      %p
        Awesome, thank you! You can submit what you built today on
        = link_to('https://shipit.hackedu.us', 'https://shipit.hackedu.us')
